
.action-links a {
    color: #805e82;
}
.region-content .views-row {
    width: 49%;
    float: left;
    p {
        text-align: center;
    }
    li a{
        background-color: #805e82;
        color: #fff !important;
        text-shadow: none;
    }
    span a {
        color: #805e82;
    }
}
.tabs.primary {
    .is-active a {
        background-color: #805e82;
        color: #fff !important;
    }
    a:hover {
            background-color: 805e82;
            color: #fff !important;
        }

}
.blog-usernames-blog a {
    background-color: #805e82 !important;
    color: #fff !important;
    text-shadow: none !important;
}