input {
    &[type='button'] {
        background-color: #805e82;
        &:hover{
            background-color: #613763;
        }
    }
    &[type='submit']{
        background-color: #805e82;
        border: 1px solid purple;
        &:hover{
            background-color: #613763;
            
        }
    }
}
#main {
    a {
        color: #805e82;
    }
}