body {
    background: #805e82;
    #page-wrapper {
        border-top: 3px solid #704b72;
    }
    nav ul.nav a {
        &.is-active {
            background-color: #805e82;
        }
        &:hover {
            background-color: #805e82;
        }
    }
    nav ul.menu a {
        float: right;
        margin-top: 20px;
        &:hover {
            color: #805e82;
        }
    }

}