.flexslider {
    .flex-next::before {
        color: #805e82;
    }
    .flex-prev::before {
        color: #805e82;
    }
    .flex-control-nav{
        li a {
            background-color: #805e82;
            &.flex-active{
                background-color: #fff;
                border: 1pt solid #805e82
            }
        }

    }

}